.addbtn{
    background-color: cornflowerblue;
    border-radius: 20px;
    margin-left: 900px;
    height: 34px;
    margin-top: 15px;
}

.txtarea{
    display: none;
    border-radius: 20px;
    margin-left: 400px;
    font-size: 25px;
}
.modal-custom{
    margin:auto;
    width: 400px;
}

.stickynotes{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 20px 0px 20px;
    font-size: 25px;
    align-content: center;
    padding-left: 100px;
}

.postbox{
    width: 22%;
    height: 250px;
    rotate: 15;
    border: 2px solid green;
    text-align: center;
    padding-top:25px ;
    margin: 5px 5px 5px 5px;
}
