.centered{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 203, 214); 
    border: 10px solid rgb(71, 70, 70); 
    border-radius: 7px;
    height: 350px;
    width: 900px;
    margin-top: 100px;
    margin-right: 200px;
    margin-left: 200px;

}

.btn-center{
    border-radius: 5px;
    border: 2px solid darkmagenta;
    width: 150px;
    margin-top: 80px;
    margin-left: 575px;
    margin-right: 575px;
}